h3.ratings-heading Рейтинги
ul.ratings-list
  - var overall = 0
  for rating in student.ratings
    if rating.ratingsum != 0
      - overall+=rating.ratingsum
      li #{rating.scope.name}: 
        b #{rating.ratingsum}
  if overall == 0
    b Нет
