extends layout

block head
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src='/javascripts/passwordcheck.js')
  if userid
    if login == "admin"
      script(src='/javascripts/adminpanel.js')
    else
      script(src='/javascripts/login.js')
  else
    script(src='/javascripts/login.js')

block content
  h1 Войти
  if userid
    p
      b Вы вошли как #{login}
    div
      button#logout(type='button') Выйти
    h3(style='margin-bottom: 0') Сменить пароль
    form.pure-form.pure-form-stacked(method='POST' action='' data-request_url='/auth/changepw')
      span.error()
      div.fields-container
        div.field
          label(for='oldpassword') Старый пароль
          input#oldpassword(type='password' autocomplete='off' placeholder='' name='oldpassword')
          span.error()
        div.field
          label(for='password') Пароль
          input#password(type='password' style='display: inline-block' autocomplete='off' placeholder='' name='password')
          span.passwordgood ✓
          div#result()
          span.error()
        div.field
          label(for='confirmation') Подтверждение
          input#confirmation(type='password' style='display: inline-block' autocomplete='off' placeholder='' name='confirmation')
          span.confirmationgood ✓
          span.error()
      button.pure-button.pure-button-primary#form_submit(type='submit') Отправить
  else    
    a(href='/auth/registration')
      |  Регистрация
    form.pure-form.pure-form-stacked(method='POST' action='' data-request_url=request_url)
      span.error()
      span.success()
      div.fields-container
        div.field
          label(for='username') E-mail: 
          input#login(type='text', autocomplete='off' placeholder='E-mail' name='username' tabindex='1')
          a#passwordresetlink(href="#" tabindex='3') Забыли пароль
          span.error()
        div.field
          label(for='password') Пароль: 
          input#password(type='password' autocomplete='off' placeholder='Пароль' name='password' tabindex='1')
          span.error()
      button.pure-button.pure-button-primary#form_submit(type='submit' tabindex='2') Войти
