extends layout

block head
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  if userid
    if userid == "5aaad9cef86881299850be7b"
      script(src='/javascripts/adminpanel.js')
    else
      script(src='/javascripts/login.js')
  else
    script(src='/javascripts/login.js')

block content
  h1 Войти
  if userid
    p
      b Вы вошли как #{login}
    div
      button#logout(type='button') Выйти
    if userid == "5aaad9cef86881299850be7b"
      h3(style='margin-bottom: 0') Сменить пароль
      form.pure-form.pure-form-stacked(method='POST' action='' data-request_url='/auth/changepw')
        span.error()
        div.fields-container
          div.field
            label(for='oldpassword') Старый пароль
            input#oldpassword(type='password' autocomplete='off' placeholder='' name='oldpassword')
            span.error()
          div.field
            label(for='password') Пароль
            input#password(type='password' autocomplete='off' placeholder='' name='password')
            span.error()
          div.field
            label(for='confirmation') Подтверждение
            input#confirmation(type='password' autocomplete='off' placeholder='' name='confirmation')
            span.error()
        button.pure-button.pure-button-primary#form_submit(type='submit') Отправить
  else    
    a(href='/auth/registration')
      |  Регистрация
    form.pure-form.pure-form-stacked(method='POST' action='' data-request_url=request_url)
      span.error()
      div.fields-container
        div.field
          label(for='username') E-mail: 
          input#login(type='text', autocomplete='off' placeholder='E-mail' name='username')
          span.error()
        div.field
          label(for='password') Пароль: 
          input#password(type='password' autocomplete='off' placeholder='Пароль' name='password')
          span.error()
      button.pure-button.pure-button-primary#form_submit(type='submit') Войти
