extends layout

block head
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src='/javascripts/newstudent.js')

block content
  h1 Создать студента
  form.pure-form(method='POST' action='' data-request_url=request_url)
    span.error()
    div.fields-container
      div.field
        p
          label(for='lastname') Фамилия: 
        input(type='text', autocomplete='off' placeholder='' name='lastname')
        span.error()
      div.field
        p
          label(for='firstname') Имя: 
        input(type='text', autocomplete='off' placeholder='' name='firstname')
        span.error()
      div.field
        p
          label(for='patronymic') Отчество: 
        input(type='text', autocomplete='off' placeholder='' name='patronymic')
        span.error()
      div.field
        p
          label(for='group') Группа: 
        input(type='text', autocomplete='off' placeholder='' name='group')
        span.error()
    button.pure-button.pure-button-primary#form_submit(type='submit' tabindex='4') Подтвердить

  if errors 
    ul
      for error in errors
        li!= error.msg
