extends layout

block head
  - var activePage = "account"
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src='/javascripts/login.js')
  script(src='/javascripts/passwordcheck.js')

block content
  h1 Новый пароль
  form.pure-form.pure-form-stacked(method='POST' action='' data-request_url=request_url)
    span.error()
    div.fields-container
      div.field
        label(for='password') Пароль
        input#password(style='display: inline-block' type='password' autocomplete='off' placeholder='' name='password')
        span.passwordgood ✓
        div#result()
        span.error()
      div.field
        label(for='confirmation') Подтверждение
        input#confirmation(style='display: inline-block' type='password' autocomplete='off' placeholder='' name='confirmation')
        span.confirmationgood ✓
        div.error()
    button.pure-button.pure-button-primary#form_submit(type='submit') Отправить
