extends layout

block head
  - var activePage = "search"
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
block content
  h1 Поиск
  if nothing
    span.error Студент не найден
  form.pure-form(method='POST', action='')
    input(type='text' autocomplete='off' placeholder='ФИО' name='fullname')
    button(type="submit" class="pure-button pure-button-primary") Поиск
