body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fefefe
}

a {
  color: #0069ca;
  text-decoration: none;
}

form {
  padding-top: 10px;
  padding-bottom: 10px;
}

@-webkit-keyframes green-fade {
  from {
    background: #DCFFDF;
  }
  to {
    background: #fff;
  }
}
@-moz-keyframes green-fade {
  from {
    background: #DCFFDF;
  }
  to {
    background: #fff;
  }
}
@keyframes green-fade {
  from {
    background: #DCFFDF;
  }
  to {
    background: #fff;
  }
}

@-webkit-keyframes green-fade-o {
  from {
    background: #DCFFDF;
  }
  to {
    background: #F6F6F6;
  }
}
@-moz-keyframes green-fade-o {
  from {
    background: #DCFFDF;
  }
  to {
    background: #F6F6F6;
  }
}
@keyframes green-fade-o {
  from {
    background: #DCFFDF;
  }
  to {
    background: #F6F6F6;
  }
}


.error {
  color: #FF5A5A;
  margin-left: 5px;
}

.success {
  color: green;
}

.type-details {
  display: none;
}

.types-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

.type-details {
  padding: 5px;
}

.type-details-list {
  border: 1px dotted #999;
  padding: 10px;
  padding-left: 25px;
  display: inline-block;
}

ul.types-list li {
  padding-top: 10px;
}

.student-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

#searchname {
  margin-left: 5px;
}

.decline {
  background: rgb(220, 140, 140);
  margin-left: 3px;
}

.request-more {
  display: none;
}

.document-creation-field {
  padding-top: 5px;
  padding-bottom: 5px;
}

.student-form-field {
  padding-bottom: 5px;
}

.field-container {
  padding-bottom: 5px;
}

.fileupload-status-text {
  color: blue;
}

.student-document {

}

.student-document-more-container {
  border: 1px solid #aaa;
  padding: 10px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.student-data-group, .student-data-degree, .student-data-year {
  font-weight: bold;
}

.student-document-more-link {
  color: #0069ca;
  font-size: 16px;
  font-weight: bold;
}

.add-doc-container {
  display: none;
}

.add-document-link {
  background-color: #e6f2fe;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #8ca1c0;
  font-size: 0.8rem;
  height: auto;
  color: #333;
  display: inline-block;
  margin-top: 3px;
}

.add-document-link:hover {
  background-color: #fafcff;
  cursor: pointer;
}

.document-creation-files {
  padding-top: 10px;
}

.filelabel {
  background-color: #e6f2fe;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #8ca1c0;
  font-size: 0.8rem;
  height: auto;
  color: #333;
}

.filelabel:hover {
  background-color: #fafcff;
  cursor: pointer;
}

#cancel_button {
  float: right;
  display: none;
  border: 1px solid #999
}

#student-name-edit-link {
  display: none;
}

.document-edit-link {
  display: none;
}

.document-delete-link {
  display: none;
}

.student-delete-link {
  display: none;
}

.student-entry {

}

.file-delete-link {
  display: none;
}

.student-document-more-link-container {
  line-height: 30px;
}

.file-link {
  line-height: 25px;
}

ul#navigation {
  list-style-type: none;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  overflow: hidden;


}

ul#navigation li {
  float: left;
  border: 1px solid #ddd;
  border-left: none;
  background-color: #f9f9f9;
}
ul#navigation li:first-child {
  border-left: 1px solid #ddd;
}


ul#navigation li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

ul#navigation li a:hover:not(.active) {
    background-color: #fdfdfd;
}

.active {
    background-color: #4CAF50;
}

.student-list-group {
  color: #666;
}

#scope-and-rating {
  display: none;
}

#rating {
  width: 4em;
}

.scope-display-heading {
  font-weight: bolder;
}

.scope-display-value {
}

.scope-container {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #444;
}

.rating-display {
  margin-left: 10px;
  border-left: 1px dotted #bcbcbc;
  padding: 2px;
}
.rating-display-a {
  color: #a8a4a4;
}

.editdelete {
  border-left: none !important
}

.documentbody:nth-child(odd) {
  background-color: #F6F6F6;
  -webkit-animation: green-fade-o 1s ease-in-out 0s;
  -moz-animation: green-fade-o 1s ease-in-out 0s;
  -o-animation: green-fade-o 1s ease-in-out 0s;
  animation: green-fade-o 1s ease-in-out 0s;
}

.documentbody:nth-child(even) {
  -webkit-animation: green-fade 1s ease-in-out 0s;
  -moz-animation: green-fade 1s ease-in-out 0s;
  -o-animation: green-fade 1s ease-in-out 0s;
  animation: green-fade 1s ease-in-out 0s;
}

tbody {

  border-bottom: 1px solid #cbcbcb;
}

table {
    clear: both;
}

.student-data-container {
  float: left;
}

.student-ratings {
  display: inline-block;
  margin-left: 15px;
}


.ratings-heading {
  margin-top: 0;
}

.ratings-list {
  list-style-position: inside;
  padding-left: 0;
}

.theader {
  vertical-align: middle;
}

.checkbox-in-list {
  display: inline-block;
  padding: 5px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}

.checkbox-in-list:last-child {
  border-right: none;
}

.student-list-spinner {
  float: right;
  display: none;
}

.pure-table-odd td, .pure-table-striped tr:nth-child(2n-1) td {
    background-color: #F6F6F6;
}

.student-list-heading {
  margin: 8px 0 8px 0;
}

.wrapper {
  position: relative;
  width: 20em;
  background-color: #FCFCFC;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  border: 1px solid #C9C9C9;
}

.progress-bar-fill {

  background-image: linear-gradient(45deg, #fcef8f 25%, #fffdc9 25%, #fffdc9 50%, #fcef8f 50%, #fcef8f 75%, #fffdc9 75%, #fffdc9 100%);
  background-size: 40.00px 40.00px;
  height: 18px;
  border-radius: 3px;
  text-align: center;
  padding: 4px 8px!important;
  transition: width 500ms ease-in-out;
}

.progress-bar-label {
  position: absolute;
  font-weight: bold;
  top: 8px;
  left: 10px;
  color:#333;
}

#result {
  max-width: 300px;
}

.short{
font-weight:bold;
color:#FF0000;
}

.weak{
font-weight:bold;
color:orange;
}

.passwordgood, .confirmationgood{
  display: none;
  margin-left: 5px;
  font-weight:bold;
  color:#2D98F3;
}

#login {
  display: inline-block;
  margin-right: 8px;
}

#passwordresetlink:after {
  content:"\000A";
  white-space: pre;
}
